section {
    height: 500px;
    background-color: white;
    border: solid black 1px;
}

.hero {
    background-color: teal;
    height: 100vh;
    color: beige;
    font-size: 40px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    /* width: 200px; */ 
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 100;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 45px;
    border-radius: 30px;
    background-color: rgb(163, 82, 53);
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: lightcoral;
}

.button:active {
    background-color: grey;
    color: darkgray;
}

.logo {
    height: 90px;
    margin: 30px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;

}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 250px;
    height: 400px;
    box-shadow: 5px 5px 20px grey;
    margin: 10px;

}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: beige;
}